.box{
  box-shadow:15px 15px 5px 0 rgba(0, 0,0, 0.6);
  padding:15px;
}
.book img{
  width:500px;
  height:500px;
  margin:auto;
  display: block;
}
.context{
  text-align: top;
  margin-top:20%;
}
.context p{
  line-height: 30px;
}
.cartbtn{
  margin: auto;
}